{{ define "about" }}
    <section class="container mt-14">
        <div class="flex w-full min-h-screen bg-blue-100 rounded-lg p-8">
            <p class="text-lg tracking-wide">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia modi alias quae, quas ea nulla tempore? Iure voluptatem rem quod vero culpa architecto corporis est, in aspernatur magnam, dolore adipisci, natus nostrum. Veniam, suscipit. Delectus dignissimos doloribus eos. Modi officia excepturi doloribus facilis commodi reiciendis quis quas. Vitae aliquam praesentium fugit ut eos, reprehenderit deserunt provident eaque obcaecati distinctio pariatur quas ab suscipit totam consequuntur modi repudiandae iste recusandae odit delectus aspernatur, ipsum quis? Placeat cumque optio iste et dolore?
            </p>
        </div>
    </section>
{{ end }}